  .text{
    font-size: large;
  }

  .about-row{
    margin-top: 100px;
  }

  .about-l-txt{
    color: #d200a3 ;
  }

  @media screen and (max-width: 767px){
    .text{
      font-size: medium;
    }
    .about-btn{
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    .about-img{
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
      height: auto;
    }
  }