@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

.home-title{
    margin-top: 100px;
    font-family: 'Spartan', sans-serif;
    font-size: 120px;
    text-align: center;
    color: #ffffff;
}

.home-countdown{
    pointer-events: none;
}

.home-nav{
    margin-bottom: 100px;
}


@media screen and (max-width: 767px){
    .home-title{
        font-size: 50px;
    }

    .home-countdown{
        margin-left: -50px;
    }
}