@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,300'); 
.link {
    margin-left: 38px;
    color: #ffffff !important;
}

.me-auto{
    margin-left: 30em;
}

.link:hover {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgba(255, 105, 180, 0.973);

}
.main {
    background-color: #00000054; 
    padding-top: 1rem;
    font-family: "Roboto";
}
