@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,300'); 

.main .me-auto .link{
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff !important;
}

.link:hover {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgba(255, 105, 180, 0.973);
}

.main {
    background-color: #00000054; 
    padding-top: 1rem;
    font-family: "Roboto";
}
.new-main{
    background-color: #000000; 
    padding-top: 1rem;
    font-family: "Roboto";
}

