.faq-question{
    display: inline;
    color: #d200a3;
}

.faq-btn{
    display: inline;
    color: #ffffff;
    fill: #ffffff;
    margin-left: 30px;
    padding: 3px 3px 3px 3px;
    border-radius: 40px;
    border: solid 1px #ffffff;
}

.faq-col-left{
    text-align: left;
}

.faq-col-right{
    text-align: right;
}

.question{
    margin: 30px;
    padding: 10px;
    border: #ffffff 1px solid;
}