body{
  background-color: #000000;
}

.footer-container{
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer-h{
  margin-left: 15px;
  font-size: 35px;
}

.footer-formgrp{
  margin: 15px;
}

.footer-formfield{
  background-color: transparent;
  border: 1px solid #ffffff;
}

.footer-formfield::placeholder{
  color: #d200a3;
}

.footer-icon{
  margin: 15px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #0061bf 0%, #9167f1  51%, #d200a3  100%);
  color: #000000;
}

.discord{
  padding: 5px;
}

.instagram{
  padding-left: 5px;
  padding-right: 5px;
}

.footer-cr{
  margin-top: 45px;
  margin-left: 15px;
}

.footer-mail{
  margin-left: 15px;
  font-weight: 400;
  color: #d200a3;
}

/* blue: #0061bf
lavender: #9167f1
purple: #6e3890
pink: #d200a3 */

.btn-grad {background-image: linear-gradient(to right, #0061bf 0%, #9167f1  51%, #d200a3  100%)}
.btn-grad {
   margin: 15px;
   padding: 5px 30px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white; 
   border: none;           
   border-radius: 15px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }
